
<h1> Log in </h1>

<form action="/sessions" method="post">

  <div class="field">
    <label for= "email">Email:</label>
    <input type="text" name="email">
  </div>

  <div class="field">
    <label for="password">Password</label>
    <input type="password" name="password">
  </div>
  
  <div class="actions">
    <input type="submit" value="Log in">
  </div>

  <%= token_tag%>

</form> 

<a href= "/users/new"> New User? Sign up now </a>


